@model _1670_Book.Models.Book
@{
    //var Model = IEnumerable<BookShop.Models.Book>;
}

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Model.NameBook
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameBook)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class = "col-sm-2">
            Image
        </dt>
        <dd class = "col-sm-10">
          <img src="~/image/@Model.BookUrl" alt="Image" class="rounded-cycle w-25" />        
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

    </dl>
</div>
<div>
  
    <a asp-action="Index">Back to List</a>
</div>
